- block:
  - pip:
      name: dnspython
  - set_fact:
      public_hostname: "{{ lookup('dig', kube_cert_public_ip + '/PTR', '@8.8.8.8')[:-1] }}"
  when: kube_cert_manager | bool

- block:
  - debug:
      msg: "DNS name = {{ public_hostname }} - Disabling cert_manager."
  - set_fact:
      kube_cert_manager: false
  when: kube_cert_manager | bool and (public_hostname is undefined or public_hostname == "NXDOMAI" or public_hostname == "")

- block:
  - copy: src=cert-manager.yaml dest=/tmp/cert-manager.yaml
  - command: kubectl apply -f /tmp/cert-manager.yaml
    environment:
      KUBECONFIG: /etc/kubernetes/admin.conf

  - name: Wait for cert-manager ready status
    command: kubectl rollout status deployment/{{ item }} -n cert-manager
    environment:
      KUBECONFIG: /etc/kubernetes/admin.conf
    with_items:
      - cert-manager
      - cert-manager-cainjector
      - cert-manager-webhook

  - template: src=prod_issuer.j2 dest=/tmp/prod_issuer.yaml
  - command: kubectl apply -f /tmp/prod_issuer.yaml
    environment:
      KUBECONFIG: /etc/kubernetes/admin.conf

  when: kube_cert_manager | bool
