---
- name: Install docker requisites
  apt: name=apt-transport-https,ca-certificates,software-properties-common

- name: Add Docker repo key
  apt_key: url="https://download.docker.com/linux/debian/gpg"
  ignore_errors: yes
  register: add_docker_repo

- name: Add Docker repo key (python 2.7.9 or older)
  shell: curl -fsSL https://download.docker.com/linux/debian/gpg | apt-key add -qq - >/dev/null
  when: add_docker_repo|failed

- name: Add docker repo
  apt_repository: repo='deb https://download.docker.com/linux/debian {{ ansible_distribution_release }} stable' state=present update_cache=yes
  when: ansible_distribution != "Ubuntu"

- name: Add docker repo
  apt_repository: repo='deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ansible_distribution_release}} stable' state=present update_cache=yes
  when: ansible_distribution == "Ubuntu"

- name: Install docker 18.09
  apt: name="docker-ce=18.09.1~3-0~ubuntu-{{ ansible_distribution_release }}" state=present force=yes
  when: ansible_distribution == "Ubuntu" and ansible_distribution_major_version == "16"

- name: Install docker 18.06
  apt: name="docker-ce=18.06.1~ce~3-0~ubuntu" state=present force=yes
  when: ansible_distribution == "Ubuntu" and ansible_distribution_major_version == "18"

- name: Add repo key
  apt_key:
    url: "https://packages.cloud.google.com/apt/doc/apt-key.gpg"
    state: present

- name: Add kubernetes repo
  apt_repository: repo='deb http://apt.kubernetes.io/ kubernetes-xenial main' state=present update_cache=yes

- name: Install kubernetes packages
  apt: name=kubelet={{ kube_version }}*,kubeadm={{ kube_version }}*,kubectl={{ kube_version }}*
  when: kube_version != "latest"

- name: Install kubernetes packages
  apt: name=kubelet,kubeadm,kubectl state=latest
  when: kube_version == "latest"