- name: Install Gateway API CRDs
  command: kubectl apply --server-side -f https://github.com/kubernetes-sigs/gateway-api/releases/download/v{{ kube_gateway_api_version }}/standard-install.yaml
  environment:
    KUBECONFIG: "{{KUBECONFIG}}"

- name: Create nginx-gateway-values.yaml
  template:
    src: nginx-gateway-values.j2
    dest: /var/tmp/nginx-gateway-values.yaml

- name: Install 
  command: helm upgrade ngf --install --namespace nginx-gateway --create-namespace oci://ghcr.io/nginx/charts/nginx-gateway-fabric -f /var/tmp/nginx-gateway-values.yaml
  environment:
    KUBECONFIG: "{{KUBECONFIG}}"
