---
- name: Create ingress-nginx namespace
  block:
  - copy: src=ingress-nginx-namespace.yaml dest=/tmp/ingress-nginx-namespace.yaml
  - command: kubectl apply -f /tmp/ingress-nginx-namespace.yaml
    environment:
      KUBECONFIG: "{{KUBECONFIG}}"

- name: Check if certs are created
  block:
  - stat:
      path: /var/tmp/certs
    register: certs_dir
  - stat:
      path: /var/tmp/certs/private.key
    register: certs_private
  - stat:
      path: /var/tmp/certs/public.crt
    register: certs_public

- name: Create certs dir
  file:
    path: /var/tmp/certs
    state: directory
  when: not certs_dir.stat.exists

- name: Create certs
  command: openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout /var/tmp/certs/private.key -out /var/tmp/certs/public.crt -subj "/CN=kubeserver/O=kubeserver"
  when: (not certs_private.stat.exists) or (not certs_public.stat.exists)

- name: Check if certs secret is created
  command: kubectl get secret certs -n ingress-nginx
  environment:
    KUBECONFIG: "{{KUBECONFIG}}"
  register: certs_secret
  failed_when: certs_secret.rc != 0 and certs_secret.rc != 1

- name: Create certs secret
  command: kubectl create secret tls certs --key /var/tmp/certs/private.key --cert /var/tmp/certs/public.crt -n ingress-nginx
  environment:
    KUBECONFIG: "{{KUBECONFIG}}"
  when: certs_secret.rc == 1

- template: src=ingress-values.j2 dest=/var/tmp/ingress-values.yaml

- name: Install helm chart
  import_tasks: helm_chart.yaml
  vars:
    helm_chart_name: ingress-nginx
    helm_chart_namespace: ingress-nginx
    helm_repo_name: ingress-nginx
    helm_repo_url: https://kubernetes.github.io/ingress-nginx
    helm_chart_version: latest
    helm_wait: true
    helm_timeout: 300s
    helm_values_file: /var/tmp/ingress-values.yaml
