{% for secret in kube_generated_tls_secrets %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ secret.name }}
  namespace: {{ secret.namespace }}
type: kubernetes.io/tls
stringData:
  tls.crt: |
{{ secret.cert | indent(4, true) }}
  tls.key: |
{{ secret.key | indent(4, true) }}
{% endfor %}
