service:
  enabled: true
  type: NodePort
  ports:
    web:
      port: 80
      nodePort: 80
    websecure:
      port: 443
      nodePort: 443

tolerations:
  - key: "node-role.kubernetes.io/master"
    operator: "Exists"
    effect: "NoSchedule"
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"

nodeSelector:
  kubernetes.io/os: linux
{% if kube_ingress_in_master %}
    node-role.kubernetes.io/control-plane: ""
{% endif %}

# Configurar Traefik como el IngressClass por defecto
ingressClass:
  enabled: true
  isDefaultClass: true
  name: traefik

providers:
  kubernetesIngress:
    publishedService:
      enabled: true

# Traefik Dashboard
ports:
  traefik:
    expose: false
