---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: kubernetes-dashboard
  namespace: kubernetes-dashboard
  annotations:
    nginx.org/rewrites: "serviceName=kubernetes-dashboard rewrite=/"
{% if kube_cert_manager %}
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
{% if kube_cert_manager_challenge == 'dns01' %}
    certmanager.k8s.io/acme-challenge-type: dns01
    certmanager.k8s.io/acme-dns01-provider: route53
{% endif %}
{% endif %}
spec:
  ingressClassName: nginx
{% if kube_cert_manager and kube_public_dns_name != '' %}
  tls:
  - hosts:
    - {{ kube_public_dns_name }}
{% if kube_cert_manager_wildcard_cert_dns_name == '' %}
    secretName: {{ kube_public_dns_name }}
{% endif %}
{% endif %}
  rules:
{% if kube_cert_manager and kube_public_dns_name != '' %}
  - host: {{ kube_public_dns_name }}
    http:
{% else %}
  - http:
{% endif %}
      paths:
      - path: /dashboard/
        backend:
          service:
            name: kubernetes-dashboard
            port:
              number: 9090
        pathType: Prefix