---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: kubernetes-dashboard
  namespace: kubernetes-dashboard
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
{% if kube_cert_manager %}
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
{% if kube_cert_manager_challenge == 'dns01' %}
    certmanager.k8s.io/acme-challenge-type: dns01
    certmanager.k8s.io/acme-dns01-provider: route53
{% endif %}
{% endif %}
spec:
  ingressClassName: nginx
{% if kube_cert_manager %}
  tls:
  - hosts:
    - {{ public_hostname }}
{% if kube_cert_manager_wildcard_cert_dns_name == '' %}
    secretName: {{ public_hostname }}
{% endif %}
{% endif %}
  rules:
{% if kube_cert_manager %}
  - host: {{ public_hostname }}
    http:
{% else %}
  - http:
{% endif %}
      paths:
      - path: /dashboard/?(.*)
        backend:
          service:
            name: kubernetes-dashboard
            port:
              number: 8443
        pathType: Prefix