---
kind: ClusterConfiguration
apiVersion: kubeadm.k8s.io/v1beta2
networking:
  podSubnet: "{{kube_pod_network_cidr}}"            # --pod-network-cidr
apiServer:
  extraArgs:
    advertise-address: "{{kube_api_server}}"        # --apiserver-advertise-address
{% if kube_control_plane_ip != "" %}
controlPlaneEndpoint: {{kube_control_plane_ip}}:{{kube_control_plane_port}}
etcd:
    external:
        endpoints:
        {% for peer_name, peer_ip in kube_etcd_peer_list.items() %}
          - https://{{peer_ip}}:2379
        {% endfor -%}
        caFile: /etc/kubernetes/pki/etcd/ca.crt
        certFile: /etc/kubernetes/pki/apiserver-etcd-client.crt
        keyFile: /etc/kubernetes/pki/apiserver-etcd-client.key
{% endif %}
---
kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
cgroupDriver: systemd
---
kind: InitConfiguration
apiVersion: kubeadm.k8s.io/v1beta2
bootstrapTokens:
- token: "{{kube_token}}"                          # --token
  description: "kubeadm bootstrap token"
  ttl: "{{kube_token_ttl}}"                         # --token-ttl