---
kind: ClusterConfiguration
{% if kube_version is version_compare('1.22.0', '<') %}
apiVersion: kubeadm.k8s.io/v1beta2
{% elif kube_version is version_compare('1.31.0', '<') %}
apiVersion: kubeadm.k8s.io/v1beta3
{% else %}
apiVersion: kubeadm.k8s.io/v1beta4
{% endif %}
networking:
  podSubnet: "{{kube_pod_network_cidr}}"
apiServer:
  extraArgs:
{% if kube_version is version_compare('1.31.0', '<') %}
    advertise-address: "{{kube_api_server}}"        # --apiserver-advertise-address
{% else %}
    - name: advertise-address
      value: "{{kube_api_server}}"        # --apiserver-advertise-address
{% endif %}
controlPlaneEndpoint: {{kube_control_plane_ip}}:{{kube_control_plane_port}}
etcd:
  local:
    extraArgs:
{% if kube_version is version_compare('1.31.0', '<') %}
      listen-client-urls: "https://{{kube_etcd_peer_address}}:2379"
      listen-peer-urls: "https://{{kube_etcd_peer_address}}:2380"
      advertise-client-urls: "https://{{kube_etcd_peer_address}}:2379"
      initial-advertise-peer-urls: "https://{{kube_etcd_peer_address}}:2380"
      initial-cluster: "{%- for peer_name, peer_ip in kube_etcd_peer_list.items() -%}
        {%- if loop.index > 1 -%} , {%- endif -%}
        {{peer_name}}=https://{{peer_ip}}:2380
      {%- endfor -%}"
      name: "{{kube_etcd_peer_name}}"
      initial-cluster-state: "new"
{% else %}
      - name: listen-client-urls
        value: "https://{{kube_etcd_peer_address}}:2379"
      - name: listen-peer-urls
        value: "https://{{kube_etcd_peer_address}}:2380"
      - name: advertise-client-urls
        value: "https://{{kube_etcd_peer_address}}:2379"
      - name: initial-advertise-peer-urls
        value: "https://{{kube_etcd_peer_address}}:2380"
      - name: initial-cluster
        value: "{%- for peer_name, peer_ip in kube_etcd_peer_list.items() -%}
        {%- if loop.index > 1 -%} , {%- endif -%}
        {{peer_name}}=https://{{peer_ip}}:2380
      {%- endfor -%}"
      - name: name
        value: "{{kube_etcd_peer_name}}"
      - name: initial-cluster-state
        value: "new"
{% endif %}
    peerCertSANs:
      - "{{kube_etcd_peer_address}}"
    serverCertSANs:
      - "{{kube_etcd_peer_address}}"
---
kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
cgroupDriver: systemd
---
kind: InitConfiguration
{% if kube_version is version_compare('1.22.0', '<') %}
apiVersion: kubeadm.k8s.io/v1beta2
{% elif kube_version is version_compare('1.31.0', '<') %}
apiVersion: kubeadm.k8s.io/v1beta3
{% else %}
apiVersion: kubeadm.k8s.io/v1beta4
{% endif %}
{% if kube_cri_runtime == "docker" %}
nodeRegistration:
  criSocket: "unix:///run/cri-dockerd.sock"
{% endif %}