
---
kind: ClusterConfiguration
apiVersion: kubeadm.k8s.io/v1beta2
networking:
  podSubnet: "{{kube_pod_network_cidr}}"
apiServer:
  extraArgs:
    advertise-address: "{{kube_api_server}}"
controlPlaneEndpoint: {{kube_control_plane_ip}}:{{kube_control_plane_port}}
etcd:
  local:
    extraArgs:
      listen-client-urls: "https://{{kube_etcd_peer_address}}:2379"
      listen-peer-urls: "https://{{kube_etcd_peer_address}}:2380"
      advertise-client-urls: "https://{{kube_etcd_peer_address}}:2379"
      initial-advertise-peer-urls: "https://{{kube_etcd_peer_address}}:2380"
      initial-cluster: "
      {%- for peer_name, peer_ip in kube_etcd_peer_list.items() -%}
        {%- if loop.index -%} , {%- endif -%}"
        {{peer_name}}=https://{{peer_ip}}:2380
      {%- endfor -%}"
      name: "{{kube_etcd_peer_name}}"
      initial-cluster-state: "new"
    peerCertSANs:
      - "{{kube_etcd_peer_address}}"
    serverCertSANs:
      - "{{kube_etcd_peer_address}}"
---
kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
cgroupDriver: systemd