{% if kube_ingress_type == "traefik" %}
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: kubernetes-dashboard-rewrite
  namespace: kubernetes-dashboard
spec:
  replacePathRegex:
    regex: "^/dashboard/(.*)"
    replacement: "/$1"
{% endif %}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: kubernetes-dashboard
  namespace: kubernetes-dashboard
  annotations:
{% if kube_ingress_type == "traefik" %}
    traefik.ingress.kubernetes.io/router.middlewares: kubernetes-dashboard-kubernetes-dashboard-rewrite@kubernetescrd
    traefik.ingress.kubernetes.io/service.serversscheme: https
{% endif %}
{% if kube_ingress_type == "nginx" %}
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
{% endif %}
{% if kube_cert_manager %}
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
{% if kube_cert_manager_challenge == 'dns01' %}
    certmanager.k8s.io/acme-challenge-type: dns01
    certmanager.k8s.io/acme-dns01-provider: route53
{% endif %}
{% endif %}
spec:
{% if kube_cert_manager %}
  tls:
  - hosts:
    - {{ kube_public_dns_name }}
{% if kube_cert_manager_wildcard_cert_dns_name == '' %}
    secretName: {{ kube_public_dns_name }}
{% endif %}
{% endif %}
  rules:
{% if kube_cert_manager %}
  - host: {{ kube_public_dns_name }}
    http:
{% else %}
  - http:
{% endif %}
      paths:
      - path: /dashboard/
        backend:
          service:
            name: kubernetes-dashboard
            port:
              number: 8443
        pathType: Prefix
