---
kind: ClusterConfiguration
{% if kube_version is version_compare('1.22.0', '<') %}
apiVersion: kubeadm.k8s.io/v1beta2
{% else %}
apiVersion: kubeadm.k8s.io/v1beta3
{% endif %}
networking:
  podSubnet: "{{kube_pod_network_cidr}}"            # --pod-network-cidr
{% if IM_NODE_PRIVATE_IP is defined %}
etcd:
  local:
    extraArgs:
      advertise-client-urls: "https://{{ IM_NODE_PRIVATE_IP }}:2379"
      listen-client-urls: "https://127.0.0.1:2379,https://{{ IM_NODE_PRIVATE_IP }}:2379"
      listen-peer-urls: "https://{{ IM_NODE_PRIVATE_IP }}:2380"
{% endif %}
apiServer:
  extraArgs:
    advertise-address: "{{kube_api_server}}"        # --apiserver-advertise-address
    tls-cipher-suites: "{{kube_tls_cipher_suites}}"
{% if IM_NODE_PUBLIC_IP is defined %}
  certSANs:
  - "{{ IM_NODE_PUBLIC_IP }}"
{% if kube_api_server != "0.0.0.0" %}
  - "{{ kube_api_server }}"
{% endif %}
{% if kube_public_dns_name != "" %}
  - "{{ kube_public_dns_name }}"
{% endif %}
{% if IM_NODE_PRIVATE_IP is defined %}
  - "{{ IM_NODE_PRIVATE_IP }}"
{% endif %}
{% endif %}
{% if kube_api_server != "0.0.0.0" %}
controlPlaneEndpoint: "{{kube_api_server}}:6443"
{% endif %}
---
kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
cgroupDriver: systemd
TLSCipherSuites: "{{kube_tls_cipher_suites | split(',')}}"
---
kind: InitConfiguration
{% if kube_version is version_compare('1.22.0', '<') %}
apiVersion: kubeadm.k8s.io/v1beta2
{% else %}
apiVersion: kubeadm.k8s.io/v1beta3
{% endif %}
bootstrapTokens:
- token: "{{kube_token}}"                          # --token
  description: "kubeadm bootstrap token"
  ttl: "{{kube_token_ttl}}"                         # --token-ttl
