{% if kube_install_longhorn_ingress %}
---
apiVersion: v1
data:
  auth: {{ kube_longhorn_ingress_auth | b64encode }}
kind: Secret
metadata:
  name: basic-auth
  namespace: longhorn-system
type: Opaque
{% if kube_ingress_type == "traefik" %}
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: basic-auth
  namespace: longhorn-ingress
spec:
  basicAuth:
    secret: basic-auth
    realm: "Authentication Required"
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: large-body
  namespace: longhorn-ingress
spec:
  buffering:
    maxRequestBodyBytes: 10485760000   # 10000m in bytes    
{% endif %}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: longhorn-ingress
  namespace: longhorn-system
  annotations:
{% if kube_ingress_type == "traefik" %}
    traefik.ingress.kubernetes.io/router.middlewares: longhorn-system-basic-auth@kubernetescrd, longhorn-system-large-body@kubernetescrd
{% endif %}
{% if kube_ingress_type == "nginx" %}
    # type of authentication
    nginx.ingress.kubernetes.io/auth-type: basic
    # name of the secret that contains the user/password definitions
    nginx.ingress.kubernetes.io/auth-secret: basic-auth
    # message to display with an appropriate context why the authentication is required
    nginx.ingress.kubernetes.io/auth-realm: 'Authentication Required '
    # custom max body size for file uploading like backing image uploading
    nginx.ingress.kubernetes.io/proxy-body-size: 10000m
{% endif %}
{% if kube_cert_manager %}
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
{% endif %}
spec:
{% if kube_cert_manager %}
  tls:
  - hosts:
    - {{ kube_public_dns_name }}
    secretName: {{ kube_public_dns_name }}
{% endif %}
  rules:
{% if kube_cert_manager %}
  - host: {{ kube_public_dns_name }}
    http:
{% else %}
  - http:
{% endif %}
      paths:
      - pathType: ImplementationSpecific
        path: "/"
        backend:
          service:
            name: longhorn-frontend
            port:
              number: 80
{% endif %}