nginx:
  service:
    type:  NodePort
    externalTrafficPolicy: Cluster
    nodePorts:
     - port: 80
       listenerPort: 80
     - port: 443
       listenerPort: 443

certGenerator:
  enable: true
  serverTLSSecretName: server-tls

gateways:
  - name: nginx-gateway
    namespace: nginx-gateway
    spec:
      gatewayClassName: nginx
      listeners:
        - name: http
          port: 80
          protocol: HTTP
          allowedRoutes:
            namespaces:
              from: All
        - name: https
          port: 443
          protocol: HTTPS
          allowedRoutes:
            namespaces:
              from: All
          tls:
            mode: Terminate
            certificateRefs:
              - name: server-tls
                kind: Secret
{% if public_hostname is defined %}
        - name: https-host
          port: 443
          hostname: {{ public_hostname }}
          protocol: HTTPS
          allowedRoutes:
            namespaces:
              from: All
          tls:
            mode: Terminate
            certificateRefs:
              - name: {{ public_hostname }}-tls
                kind: Secret
{% endif %}
