---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  namespace: nginx-gateway
  name: {{ public_hostname }}-tls
spec:
  secretName: {{ public_hostname }}-tls
  issuerRef: 
    kind: ClusterIssuer
    name: letsencrypt-prod
  dnsNames:
    - "{{ public_hostname }}"
