apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: le-crt
spec:
  secretName: tls-secret
  dnsNames:
  - '*.{{ kube_cert_manager_wildcard_cert_dns_name }}'
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
