service:
  type: ClusterIP

configuration: |
  partitions:
  - name: default
    placementrules:
    - name: provided
    - name: tag
      value: namespace
      create: true
    queues:
    - name: root
      submitacl: '*'

tolerations:
- key: node-role.kubernetes.io/master
  effect: NoSchedule
- key: node-role.kubernetes.io/control-plane
  effect: NoSchedule
